// Colors
$color-blue: #506a83;

$color-gray: #ecf0f1; 
$color-gray-light: #dbdfe3;
$color-gray-med: #a1a8b0;
$color-gray-dark: #666666;

$color-green: #30ad63;

$color-red: #a94442;

// Type
$base-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Roboto Slab', sans-serif;
$font-size-base: 16px;
$color-text-default: $color-gray-dark;
$line-height: 1.278em; // 18px base font size + 5

// Forms
$height-input: 55px;
$border-input: 2px;
$border-form-color: $color-gray-light;

// Layout
$section-padding: 50px;

// Tabs
$profile-border: 2px;
